# Configuration file

general {
    # Enable this to lock world generator to one specified [default: false]
    B:"Lock World Generator"=false

    # Enabling this will display all world generators installed, useful for debug [default: false]
    B:"Show World Generators in Log"=false

    # The world generator to select by default [default: default]
    S:"World Generator"=RTG
}

